<div class="header flex justify-content-end mb-4">
  <button *ngIf="currentRoute == '/login'" pButton pRipple type="button" label="SINGUP" routerLink="/register" class="p-button-outlined"></button>
  <button *ngIf="currentRoute == '/register'" pButton pRipple type="button" label="LOGIN" routerLink="/login" class="p-button-outlined"></button>
  <button *ngIf="currentRoute == '/links'" (click)="logout()" pButton pRipple type="button" label="LOGOUT" routerLink="/login" class="p-button-outlined"></button>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>